.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
    height: 80px;
    padding: 0 42px 0 42px;
    width: 100%;
}

.user-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}