.resultboxhistory {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 45%;
    height: 276px;
    margin: 0 0 24px 0;
    background-color: white;

}

.container-text-history {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 0 0 0 24px;
}

.container-img-history {
    display: flex;
    width: 252px;
    height: 182px;
}

.category-history {
    display: flex;
    font: 16px;

}

.name-history {
    display: flex;
    font: 16px;
    color: black;
}