.banner {
    display: flex;
    width: auto;
    max-height: 480px;

}

.banner-image {
    display: block;
    z-index: -1;
    max-height: 480px;
    max-width: 100%;

}

.title {
    position: relative;
    display: flex;
    left: -1400px;
    bottom: -350px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 64px;
    width: fit-content;
    height: fit-content;
}